#home.main {
    .banner {
        height: 750px;
        background: url('../img/index/banner.jpg');
        background-size: cover;
        background-position: center;
        transition: all .6s;

        // 泡泡樣式
        .bubble {
            position: absolute;
            top: 0;
            left: 50%;
            width: 1300px;
            height: 750px;
            margin-left: -650px;
            z-index: 0;
            transform: translateZ(0);
            overflow: hidden;
            pointer-events: none;

            li {
                position: absolute;
                list-style: none;
                display: block;
                background: url('../img/index/popup.png');
                background-size: cover;
                bottom: -100px;
                animation: bubble-ani 20s linear infinite;
                border-radius: 100%;

                &:nth-child(1) {
                    width: 20px;
                    height: 20px;
                    left: 15%;
                }

                &:nth-child(2) {
                    width: 40px;
                    height: 40px;
                    left: 40%;
                    animation-duration: 13s;
                    animation-delay: 2s;
                }

                &:nth-child(3) {
                    width: 25px;
                    height: 25px;
                    left: 30%;
                    animation-duration: 18s;
                    animation-delay: 3.5s;
                }

                &:nth-child(4) {
                    width: 60px;
                    height: 60px;
                    left: 5%;
                    animation-duration: 23s;
                    animation-delay: 1.5s;
                }

                &:nth-child(5) {
                    width: 30px;
                    height: 30px;
                    left: 35%;
                    animation-duration: 16s;
                    animation-delay: 2s;
                }
            }
        }
    }

    // About Us
    .aboutus {
        padding-bottom: 100px;

        .content {
            position: relative;
            width: 1000px;
            height: 160px;
            margin: auto;
            padding-left: 370px;
            background: url('../img/index/section1_bg.jpg');
            background-size: 100% 100%;
            color: #fff;
            border-radius: 15px;
            box-sizing: border-box;
            // 文字垂直置中
            display: flex;
            align-items: center;

            .icon-play {
                position: absolute;
                top: 30px;
                left: 230px;
                width: 88px;
                height: 85px;
                mask: url('../img/index/play_icon.svg');
                display: inline-block;
                background: #ff7e00;
                mask-size: cover;
                @extend .transition_usual;
            }

            .point-animation {
                position: absolute;
                top: 120px;
                left: 230px;
                width: 88px;
                height: 10px;
                @extend .transition_usual;

                .point {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;

                    $pointcolor: #ff546e,
                        #ffbb54,
                        #788df3,
                        #bf46f0,
                        #8cbef0;

                    @each $color in $pointcolor {
                        $i: index($pointcolor, $color);

                        &:nth-child(#{$i}) {
                            left: $i * 19px - 19px;
                            background-color: $color;
                            animation: move 1.2s 150ms * $i infinite;
                        }
                    }
                }
            }

            p {
                line-height: 40px;
                text-align: justify;
                text-justify: inter-ideograph;
                white-space: pre-wrap;
                word-break: break-all;
                width: calc(100% - 20px);
            }
        }
    }

    // Service
    .service {
        position: relative;

        .map {
            position: relative;
            width: 100%;
            height: 350px;
            background: url('../img/index/map.jpg') no-repeat top center;

            .box {
                position: absolute;
                top: 5px;
                left: 50%;
                width: 50px;
                height: 70px;
                margin-left: 120px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 50px;
                    height: 50px;
                    background: #ff7e00;
                    border-bottom-right-radius: 2px;
                    mask: url('../img/index/map_point.png') no-repeat 0px -3px;
                    z-index: 2;
                    transform: scaleX(0.9) rotate(45deg);
                    animation: map-point .8s infinite;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 55px;
                    left: 7px;
                    width: 34px;
                    height: 3px;
                    background: rgba($color: #000000, $alpha: .1);
                    border-radius: 100%;
                    z-index: 1;
                    animation: map-shadow .8s infinite;
                }
            }
        }

        .service-bubble {
            display: flex;
            width: 1000px;
            margin: auto;

            .liveplay-logo {
                flex: 1;
                position: relative;
                height: 410px;
                margin-left: -50px;
                margin-right: 90px;
                @extend .transition_usual;

                ul {
                    li {
                        position: absolute;
                        background-size: cover;

                        $bubble-list: (13, 90px, 3, 246px, 50px),
                            (12, 45px, 3, 350px, 130px),
                            (11, 24px, 3, 400px, 100px),
                            (10, 125px, 2, 300px, 310px),
                            (9, 26px, 1, 290px, 430px),
                            (8, 360px, logo, 26px, 65px),
                            (7, 170px, 1, -20px, -4px),
                            (6, 76px, 1, -15px, 180px),
                            (5, 24px, 1, -58px, 245px),
                            (4, 125px, 3, 85px, 380px),
                            (3, 40px, 3, 10px, 460px),
                            (2, 30px, 2, 40px, 393px),
                            (1, 60px, 2, -96px, 110px);

                        @each $number,
                        $size,
                        $bg,
                        $top,
                        $left in $bubble-list {
                            &:nth-child(#{$number}) {
                                top: $top;
                                left: $left;
                                width: $size;
                                height: $size;
                                background-image: url('../img/index/service_bubble_#{$bg}.png');
                                animation: service-bubble 5s infinite;
                                animation-delay: .5s * $number;
                            }
                        }
                    }
                }
            }

            .liveplay-chooes {
                flex: 1;
                @extend .transition_usual;

                li {
                    position: relative;
                    margin: 15px auto;
                    cursor: pointer;

                    &:nth-child(2) {
                        margin-left: -60px;
                    }

                    .bubble {
                        width: 136px;
                        height: 118px;
                        line-height: 118px;
                        background: url('../img/index/service_txt_bubble.png') no-repeat;
                        font-size: 5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            margin-left: -5%;
                            color: #fff;
                        }
                    }

                    h2 {
                        position: absolute;
                        top: 0;
                        left: 150px;
                        transition: all .6s;
                    }

                    p {
                        position: absolute;
                        top: 40px;
                        left: 150px;
                        width: 340px;
                        color: #cccccc;
                        text-align: justify;
                        text-justify: inter-ideograph;
                        @extend .transition_usual;
                    }

                    &:hover {
                        h2 {
                            color: #ff7e00;
                        }

                        p {
                            color: #666;
                        }
                    }
                }
            }
        }
    }

    // Contact
    .contact {
        padding-bottom: 100px;

        ul {
            width: 1000px;
            margin: auto;
            display: flex;

            li {
                position: relative;
                flex: 1;
                height: 92px;
                margin: 1%;
                padding-left: 78px;
                box-sizing: border-box;
                line-height: 92px;
                background: #fff;
                border: 1px solid #eaeaea;
                border-radius: 10px;
                cursor: pointer;
                @extend .transition_usual;

                &:hover {
                    margin-top: -2px;
                    background: #f9f9f9;

                    svg {
                        color: #ff7e00;
                    }
                }

                svg {
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    width: 50px;
                    height: 50px;
                    margin-top: -25px;
                    color: #333;
                    @extend .transition_usual;
                }
            }
        }
    }
}